{{ define "main" }}

<article>
    <div class="page-meta">
        <span class="breadcumb">
            <a href="{{ "/" | relURL }}">{{ $.Site.Title }}</a>
            <span class="secondary mh-2">/</span>
        </span>
    </div>

    <h1>{{ .Title }}</h1>

    {{ .Content }}

    <div id="imkero-admin"></div>
    <div id="comments"></div>
</article>

<style>
#imkero-admin:not(:target) + #comments > .atk-main-editor {
  display: none;
}

#imkero-admin:not(:target) + #comments .atk-list-header {
    display: none;
}
</style>

{{- partial "comment" . -}}

{{ end }}
