{{ define "main" }}

<article>
    <div class="page-meta">
        <span class="breadcumb">
            <a href="{{ "/" | relURL }}">{{ $.Site.Title }}</a>
            <span class="secondary mh-2">/</span>
        </span>
    </div>

    <script>
        window.soliloquizeTitleClickCnt = 0;
        window.soliloquizeTitleClick = function () {
            if (++window.soliloquizeTitleClickCnt >= 5) {
                window.soliloquizeTitleClickCnt = 0;
                location.hash = '#imkero-admin';
            }
        };
    </script>
    <h1 onclick="soliloquizeTitleClick()">{{ .Title }}</h1>

    {{ .Content }}

    <div id="imkero-admin"></div>
    <div id="comments"></div>
</article>

<style>
#imkero-admin:not(:target) + #comments > .atk-main-editor {
  display: none;
}

#comments .atk-comment-count {
    font-size: 0;
}

#comments .atk-comment-count > * {
    font-size: 15px;
}

#comments .atk-comment-count-num::after {
    content: '条独白';
    font-size: 15px;
    margin-left: 4px;
}

#comments .atk-arrow-down-icon {
    margin-top: -8px !important;
}

#comments span[data-action="admin-close-comment"] {
    display: none;
}

.atk-list-comments-wrap > .atk-comment-wrap:not(:first-child) {
    margin-top: 24px;
}

.atk-list-comments-wrap > .atk-comment-wrap > .atk-comment > .atk-main > .atk-header > .atk-badge-wrap {
    display: none;
}

.atk-list-comments-wrap > .atk-comment-wrap > .atk-comment > .atk-main > .atk-header > .atk-nick {
    display: none;
}
</style>

{{- partial "comment" . -}}

{{ end }}
