{{ define "main" }}

<header>
    <h1 class="site-title">{{ $.Site.Title }}</h1>
    {{- if $.Site.Params.theme_config.show_description -}}
        <p class="secondary">{{ $.Site.Params.description }}</p>
    {{- end -}}
</header>

{{ .Content }}

{{ partial "nav.html" (dict "collection" $.Site.Data.nav) }}

<h2>最新文章</h2>
{{ partial "post_list.html" (dict 
    "context" .
    "section" "posts"
    "limit" 5
    "show_more" true
    "show_more_text" "全部文章…"
    "show_more_url" "/posts/"
) -}}

{{ end }}