{{- define "main" }}

{{- if .Title }}
<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
</header>
{{- end }}

{{ if eq .Type "categories" }}
{{- $type := .Type }}
{{ range $key, $value := .Data.Terms.Alphabetical }}
<article class="post-entry">
    {{- $name := .Name }}
    {{- $count := .Count }}
    <header class="entry-header">
        <h2>
            {{- .Name }}
        </h2>
    </header>

    {{- with site.GetPage (printf "/%s/%s" $type $name) }}
    <div class="entry-content">
        <p>{{ .Description }}</p>
    </div>

    <footer class="entry-footer">
        <p>{{ $count }} 篇文章</p>
    </footer>
    <a class="entry-link" aria-label="post link to {{ .Name | plainify }}" href="{{ .Permalink }}"></a>
    {{- end }}
</article>
{{ end }}
{{ else }}
<ul class="terms-tags">
    {{- $type := .Type }}
    {{- range $key, $value := .Data.Terms.Alphabetical }}
    {{- $name := .Name }}
    {{- $count := .Count }}
    {{- with site.GetPage (printf "/%s/%s" $type $name) }}
    <li>
        <a href="{{ .Permalink }}">{{ .Name }} <sup><strong><sup>{{ $count }}</sup></strong></sup> </a>
    </li>
    {{- end }}
    {{- end }}
</ul>

{{- end }}{{/* end main */ -}}

{{end}}