<link rel="preconnect" href="{{ $.Site.Params.artalk.server }}">

<script>
  window.artalkCssReady = false;
  window.artalkJsReady = false;

  window.artalkResourceCb = function (type) {
    window.artalkCssReady = window.artalkCssReady || type === 'css';
    window.artalkJsReady = window.artalkJsReady || type === 'js';
    if (window.artalkCssReady && window.artalkJsReady) {
      new Artalk({
        el: '#comments',
        pageKey: '{{ .Permalink | relURL }}',
        pageTitle: '{{ .Title }}',
        server: '{{ $.Site.Params.artalk.server }}',
        site: '{{ $.Site.Params.artalk.site }}',
        avatarURLBuilder: function (comment) {
          return 'https://gravatar.loli.net/avatar/' + comment.email_encrypted + '?s=100&d=mp';
        },
      });
    }
  };
</script>

<script src="https://unpkg.com/artalk@2.4.4/dist/Artalk.js" async onload="artalkResourceCb('js')"></script>
<link href="https://unpkg.com/artalk@2.4.4/dist/Artalk.css" rel="stylesheet" media="print" onload="this.media='all';artalkResourceCb('css')">
