<link href="https://unpkg.com/artalk@2.4.4/dist/Artalk.css" rel="stylesheet">
<script src="https://unpkg.com/artalk@2.4.4/dist/Artalk.js"></script>

{{ $url := urls.Parse .Permalink }}

<script>
  new Artalk({
    el: '#comments',
    pageKey: '{{ $url.Path }}',
    pageTitle: '{{ .Title }}',
    server: '{{ $.Site.Params.artalk.server }}',
    site: '{{ $.Site.Params.artalk.site }}',
    avatarURLBuilder: function (comment) {
      return 'https://gravatar.loli.net/avatar/' + comment.email_encrypted + '?s=100';
    },
  });
</script>
