<footer>
    &copy;&nbsp;2023&nbsp;
    <a href="/">{{ $.Site.Title }}</a>
    <i class="spot-div"></i>
    <a href="/index.xml">RSS</a>
    <i class="spot-div"></i>
    <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.zh" target="_blank">CC BY-NC 4.0</a>
</footer>

<script>
    if (location.host.toLowerCase() === "kenorizon.cn") {
        const footerEl = document.querySelector("footer");
        const spotEl = document.createElement("i");
        spotEl.className = "spot-div";
        const beianLinkEl = document.createElement("a");
        beianLinkEl.href = "https://beian.miit.gov.cn/";
        beianLinkEl.target = "_blank";
        beianLinkEl.innerText = "粤ICP备18046161号-1";
        footerEl.appendChild(spotEl);
        footerEl.appendChild(beianLinkEl);

        if (document.title === '电脑星人' || document.title.lastIndexOf("- 电脑星人") === document.title.length - "- 电脑星人".length) {
            document.title = document.title + '的编程技术分享';
        }
    }
</script>