{{ define "main" }}

<article>
    <div class="page-meta">
        <span>
            <a class="page-meta-link" href="{{ "/" | relURL }}">{{ $.Site.Title }}</a>
            {{ range (.GetTerms "categories") }}
            <a class="page-meta-link" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
        </span>
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </div>

    <h1>{{ .Title }}</h1>

    {{ .Content }}
</article>
{{ end }}