{{ define "main" }}

<article>
    <div class="page-meta">
        <span class="breadcumb">
            <a href="{{ "/" | relURL }}">{{ $.Site.Title }}</a>
            <span class="secondary mh-2">/</span>
            {{ range (.GetTerms "categories") }}
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            <span class="secondary mh-2">/</span>
            {{ end }}
        </span>
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </div>

    <h1>{{ .Title }}</h1>

    {{ .Content }}
</article>

<hr class="comments-delimeter" data-content=" EOF ">

<div class="comments-container">
    <h2>评论</h2>
    <div id="comments"></div>
</div>

{{- partial "comment" . -}}

{{ end }}