.buttons,
.main .profile {
    display: flex;
    justify-content: center;
}

.main .profile {
    align-items: center;
    padding: 60px 0;
    text-align: center;
}

.profile-section .post-entry {
    margin-bottom: 0;
}

.profile-subtitle {
    color: var(--secondary);
    font-size: 16px;
    margin-bottom: 8px;
}

.profile-more-post {
    margin-top: 16px;
}

.profile .profile_inner h1 {
    padding: 12px 0;
}

.profile img {
    display: inline-table;
    border-radius: 50%;
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform 0.1s;
}

.button-inner {
    padding: 0 8px;
}

.button:active {
    transform: scale(0.96);
}

@media screen and (max-width: 750px) {
    .entry-header h2 {
        font-size: 20px;
    }

    .profile-subtitle {
        font-size: 14px;
    }
}

.profile-section {
    position: relative;
}

.profile-section + .profile-section {
    margin-top: 16px;
}

#profile-soliloquize:active {
    transform: none;
}

#profile-soliloquize .post-content > p {
    margin-bottom: 8px;
}

#profile-soliloquize .post-content > *:last-child {
    margin-bottom: 8px;
}

#profile-soliloquize .soliloquize-link {
    float: right;
    box-shadow: 0 1px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    line-height: 1.4;
}

#profile-soliloquize.is-loading .soliloquize-link {
    display: none;
}

.memos-attachments {
    display: flex;
    flex-wrap: wrap;
}

.memos-attachments:not(:empty) {
    margin-top: 16px;
}

.memos-attachment {
    width: 120px;
    height: 120px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 8px;
}

.memos-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
