.buttons,
.main .profile {
    display: flex;
    justify-content: center;
}

.main .profile {
    align-items: center;
    min-height: calc(100vh - 240px - var(--footer-height) - (var(--gap) * 2));
    min-height: calc(100svh - 240px - var(--footer-height) - (var(--gap) * 2));
    text-align: center;
}

.profile-latest-post {
    height: 240px;
}

.profile-latest-post .post-entry {
    margin-bottom: 0;
}

.profile-subtitle {
    color: var(--secondary);
    font-size: 16px;
}

.profile-more-post {
    text-align: right;
    font-size: 16px;
}

.profile-more-post a {
    text-align: right;
    color: var(--secondary);
    font-size: 16px;
}

.profile .profile_inner h1 {
    padding: 12px 0;
}

.profile img {
    display: inline-table;
    border-radius: 50%;
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform 0.1s;
}

.button-inner {
    padding: 0 8px;
}

.button:active {
    transform: scale(0.96);
}

@media screen and (max-width: 750px) {
    .entry-header h2 {
        font-size: 20px;
    }

    .profile-subtitle {
        font-size: 14px;
    }
    
    .profile-more-post a {
        font-size: 14px;
    }
}
